@import 'styles/variables/colors';
@import 'styles/mixins/mediaqueries';

.label {
  position: relative;
  padding-bottom: 10px;

  .text {
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .input {
    background: $white;
    padding: 10px;
    border: 1px solid rgba($black, .15);
    color: rgba($black, .87);
    border-radius: 3;
    width: 100%;
  }

  .message {
    position: absolute;
    left: 0;
    bottom: -10px;
  }

  &.hasError {
    .text {
      color: red;
    }

    .input {
      border: 1px solid red;
    }

    .message {
      color: red;
    }
  }
}