@import 'styles/variables/colors';
@import 'styles/mixins/mediaqueries';

.main {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: 1px solid rgba($black, 0.1);
  border-radius: 5px;
  min-width: 100%;

  @include tablet-up {
    min-width: 700px;
  }

  .disclaimer {
    text-transform: uppercase;
    text-align: center;
  }
}